/* sets color scheme for document */
:root {
    --blue: #03244d;
    --light-blue: #496e9c;
    --orange: #dd550c;
    --light-orange: #f68026;
    --white: #fff;
}

/* header styling */
.header {
    background-color: var(--blue);
    color: var(--orange)
}

/* search area styling */
.search-area {
 border-bottom: 1px solid var(--blue);
}

/* input styling */
.text-area {
    border-radius: 7px;
}

/* search button styling */
.search-btn {
    background-color: var(--blue);
    color: var(--orange);
    border-radius: 10px;
}

.search-btn:hover {
    background-color: var(--light-blue);
    color: var(--light-orange);
    border-color: var(--light-blue);
}

/* styles the output area */
.weather{
    border: 1px solid var(--blue);
}

/* styling for the city button */
.cities {
    background-color: var(--light-blue);
    color: var(--light-orange)
}